# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
mlops-env/

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Data files
*.csv
*.pkl
*.npy

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model files
models/*.pkl
models/*.joblib

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
.dockerignore
